<div class="container">
	<!-- Preview Area -->
	<div class="preview">
		<!-- If color is provided, show default 48px square -->
		@if (defaultColorClass || defaultColorHex) {
		<div class="color-box" [class]="defaultColorClass" [style.backgroundColor]="defaultColorHex">
		</div>
		} @else {
		<!-- Else slot for custom preview -->
		<ng-content select="[preview]"></ng-content>
		}
	</div>

	@if (name || description) {
	<div class="content">
		@if (name) {
		<p class="name">{{ name }}</p>
		}
		@if (description) {
		<p class="description">{{ description }}</p>
		}
	</div>
	}

	@if (meta) {
	<span class="meta">{{ meta }}</span>
	}
</div>