<div class="container">
	<!-- Preview Area -->
	<div class="preview">
		<!-- If color is provided, show default 48px square -->
		<div *ngIf="defaultColorClass || defaultColorHex; else customPreview" class="color-box"
			[class]="defaultColorClass" [style.backgroundColor]="defaultColorHex">
		</div>

		<!-- Else slot for custom preview -->
		<ng-template #customPreview>
			<ng-content select="[preview]"></ng-content>
		</ng-template>
	</div>

	<div class="content" *ngIf="name || description">
		<p class="name" *ngIf="name">{{ name }}</p>
		<p class="description" *ngIf="description">{{ description }}</p>
	</div>

	<span *ngIf="meta" class="meta">{{ meta }}</span>
</div>